#lapangan {
    background-image: url('lapangan.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    background-position: center;
}

#player1 {
    border-radius: 50%;
}